
gentoo/main/bin
gentoo/main/dev
gentoo/main/lib
gentoo/main/lib32
gentoo/main/lib64
gentoo/main/media
gentoo/main/mnt
gentoo/main/portage*
gentoo/main/run
gentoo/main/sbin
gentoo/main/stage*
gentoo/main/sys
gentoo/main/var

gentoo/minot/bin
gentoo/minot/dev
gentoo/minot/lib
gentoo/minot/lib32
gentoo/minot/lib64
gentoo/minot/media
gentoo/minot/mnt
gentoo/minot/portage*
gentoo/minot/run
gentoo/minot/sbin
gentoo/minot/stage*
gentoo/minot/sys
gentoo/minot/var

